<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144301648487-ttu3f2d3p35cbdiuodvaupkgo7crueb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144301648487-ttu3f2d3p35cbdiuodvaupkgo7crueb2</string>
	<key>API_KEY</key>
	<string>AIzaSyCKHlUbw01K4G-Z5DSZ3EMy3c_RjW_WlKY</string>
	<key>GCM_SENDER_ID</key>
	<string>144301648487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ChatAppFireBase</string>
	<key>PROJECT_ID</key>
	<string>realtimechatapp-31a00</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimechatapp-31a00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144301648487:ios:dc7c9097ca70582b5fc2c2</string>
</dict>
</plist>